/Test videos/
/Audio/
/Input_data/
/Recorded_audio/
/swb1_dialogact_annot/
/TestAudio/
/temp.wav
/watchdog-5.0.3-py3-none-win_amd64.whl
/CallRecording2.mp3
/CallRecording3.mp3
/db/
/LibreTranslate-main/
/Main/
/Temps/